In [ ]:
Data Frame:
    
-->  It is a 2- dimensional labeled data structure with columns of different types.(You can imagine like a Spreadsheet/excel sheet/table/SQL query)
-->  It is a kind of dict of series objects.

In [1]:
#create a data frame from dict of series/dicts

import pandas as pd
d={'Male':pd.Series(['Ravi','Teja','Guna'],index=['a','b','c']),'Female':pd.Series(['Vandana','Mounika','Sowmya','sindhu'],index=['a','b','c','d'])}

df=pd.DataFrame(d)

In [2]:
df

    Female  Male
a  Vandana  Ravi
b  Mounika  Teja
c   Sowmya  Guna
d   sindhu   NaN

In [4]:
#Now Lets Play with Data frames:  :-)

pd.DataFrame(d,index=['a','b','c'])

# When we run this cell, It will display only a,b,c rows, since we have missed the index of d.

    Female  Male
a  Vandana  Ravi
b  Mounika  Teja
c   Sowmya  Guna

In [5]:
pd.DataFrame(d,index=['a','b','c','d'])

#In this case it will give the data frame with all 4 rows.

    Female  Male
a  Vandana  Ravi
b  Mounika  Teja
c   Sowmya  Guna
d   sindhu   NaN

In [6]:
pd.DataFrame(d,index=['b','d','a'],columns=['Female','Transgender'])

#Here We have provided one acutal column and added a new column, so the data frame is displayed with actual and newly added column.secondly we missed 'Male' column then it was not appeared in data frame.

    Female Transgender
b  Mounika         NaN
d   sindhu         NaN
a  Vandana         NaN

In [ ]:
Note: Always remember that the rows and colum labels can be accessed respectively by the index and columns attributes.
    
Note1: When a particular set of columns is passed along with a dict of data, the passed columns override the keys in the dict.(source pandas doucmentation.)

In [7]:
#Let me show you the index values of the data frame.

df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [8]:
#Let me show you the column values of the data frame:
df.columns

Index(['Female', 'Male'], dtype='object')

In [10]:
#create a Data Frame form dict of ndarrays or a lists.

a = {'Andhra Pradesh':['srikakulam','Vijayanagaram','Visakhapatnam'],'Tamilnadu':['Vellore','Chennai','Madurai']}

pd.DataFrame(a)

  Andhra Pradesh Tamilnadu
0     srikakulam   Vellore
1  Vijayanagaram   Chennai
2  Visakhapatnam   Madurai

In [11]:
#Let me show you to add index to df.

pd.DataFrame(a,index=['Dist1','Dist2','Dist3'])

      Andhra Pradesh Tamilnadu
Dist1     srikakulam   Vellore
Dist2  Vijayanagaram   Chennai
Dist3  Visakhapatnam   Madurai

In [19]:
# Now moved a bit forward and I will show you how to create a data frame form structured/a record array
#import numpy library to use numpy functions in this cell/you can import at the 1st cell as well.
import numpy as np
data =  np.zeros((2,),dtype=[('A','i4'),('B','f4'),('C','a10')])

In [21]:
data[:] = [(1,2.,"Get"), (2,3.,"Help")]

pd.DataFrame(data)

   A    B        C
0  1  2.0   b'Get'
1  2  3.0  b'Help'

In [22]:
#Adding Index values to data frame:
pd.DataFrame(data, index=['ROW1','ROW2'])

      A    B        C
ROW1  1  2.0   b'Get'
ROW2  2  3.0  b'Help'

In [24]:
#Display the columns based on column attribute:

pd.DataFrame(data, columns=['B','C','A'])

     B        C  A
0  2.0   b'Get'  1
1  3.0  b'Help'  2

In [ ]:
Note: Data frame is not intended to work exactly like a 2-dim numpy ndarray

In [25]:
#create data frames from a list of dicts.

l= [{'a':10,'b':20},{'a':200,'b':300,'c':400}]
pd.DataFrame(l)

     a    b      c
0   10   20    NaN
1  200  300  400.0

In [26]:
#Add index:

pd.DataFrame(l,index=['1st','2nd'])

       a    b      c
1st   10   20    NaN
2nd  200  300  400.0

In [27]:
#Display dataframe based on column selection

pd.DataFrame(l,columns=['a','b','c'])

     a    b      c
0   10   20    NaN
1  200  300  400.0

In [28]:
#Display dataframe based on column selection

pd.DataFrame(l,columns=['a','b'])

     a    b
0   10   20
1  200  300

In [29]:
#Display dataframe based on column selection

pd.DataFrame(l,columns=['b','a'])

     b    a
0   20   10
1  300  200

In [30]:
#Display dataframe based on column selection

pd.DataFrame(l,columns=['a'])

     a
0   10
1  200

In [31]:
#Display dataframe based on column selection

pd.DataFrame(l,columns=['a','b','c','d','e'])

     a    b      c   d   e
0   10   20    NaN NaN NaN
1  200  300  400.0 NaN NaN

In [33]:
#create a data frame form dict of tuples:

#create a tuple:

a = ({('a','b'): {('A','B'):1,('A','C'):2},('a','a'): {('A','C'):3,('A','B'):4},
     ('a','c'):{('A','B'):5,('A','C'):6},
     ('a','b'):{('A','A'):7,('A','B'):8},
     ('b','b'):{('A','D'):9,('A','B'):10}
     })

In [34]:
#create a data frame with the tuple "a"

:pd.DataFrame(a)

       a               b
       a    b    c     b
A A  NaN  7.0  NaN   NaN
  B  4.0  8.0  5.0  10.0
  C  3.0  NaN  6.0   NaN
  D  NaN  NaN  NaN   9.0

In [ ]:
Thank You.

Contd(column selection,addition and deletion) in  section 1.3