In [3]:
import pandas as pd
import numpy as np

s=pd.Series([1,2,3,0,4,5,np.nan,0.5])
s

0    1.0
1    2.0
2    3.0
3    0.0
4    4.0
5    5.0
6    NaN
7    0.5
dtype: float64

In [4]:
s.head()

0    1.0
1    2.0
2    3.0
3    0.0
4    4.0
dtype: float64

In [6]:
# Data Frame:

import pandas as pd
import numpy as np
dates = pd.date_range('20170101', periods=6)
dates

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')

In [12]:
dates = pd.date_range('20170101', periods=6)
dates

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')

In [16]:
import pandas as pd
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
df

                   A         B         C         D
2017-01-01 -0.490312  0.831900 -0.741176  0.475046
2017-01-02 -0.961566  0.185326  0.549254 -0.426596
2017-01-03 -0.235118  0.239133 -0.531002  1.163701
2017-01-04 -0.240350  1.310344  1.478623 -0.570315
2017-01-05 -0.391010  1.003194 -0.563655 -0.715758
2017-01-06 -0.172292 -0.280029 -0.239861  1.926425

In [29]:
df= pd.DataFrame(index=dates,columns=list('ABCD'))
df

              A    B    C    D
2017-01-01  NaN  NaN  NaN  NaN
2017-01-02  NaN  NaN  NaN  NaN
2017-01-03  NaN  NaN  NaN  NaN
2017-01-04  NaN  NaN  NaN  NaN
2017-01-05  NaN  NaN  NaN  NaN
2017-01-06  NaN  NaN  NaN  NaN